*~
build/
.vscode/
*.bin
*.pyc
*.prototxt
*.caffemodel
*.h5
*.tar.gz
*.weights
.idea/
*.hdf5
*.pk
*.table
cmake-build-release/
demo/COCO_val2017
demo/BDD100K_val
/.vs
cmake-build-minsizerel/*
scripts/COCO_val2017/*
scripts/COCO_val2017.zip
scripts/all_labels.txt